* {
    box-sizing: border-box;
}
body {
    font-size: 16px;

    font-family: 'Comic Neue';
}
nav {
    border-bottom: #000000 1.5px solid;
    color: #ffffff;
}
.naver{
    font-size:  3em;
    font-weight: bolder;
}
h1{
    font-weight: bold;
}
.bor{
    border: #000000 1.5px solid;
}

.cosize{
    width: 99%;
    box-sizing: border-box;
    margin: 3% 1% 3% 1%;
    padding: 3%;
    box-shadow: 5px 5px darkgrey;
}

